<tr id="userRow_<%= user.id%>"> 
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.address %></td>
  <td><%= user.contact %></td>
  <td>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to 'Show', user, class:"dropdown-item", data: {bs_toggle: "modal", bs_target: "#showUserModal", remote: true} %>
            <%= link_to 'Edit', edit_user_path(user),class:"dropdown-item", data: {bs_toggle: "modal", bs_traget: "#editUserModal", remote: true} %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?',remote: true}, class:"dropdown-item"%>
      </div>
    </div>
        
    </div>
  </td>

</tr>